In [1]:
import yaml
import pandera as pa

import pandas as pd
from utils.utility import get_cocktail_by_glass, extract_and_validate, generate_date_dim
# from utils.sql import transaction_table, glass_table, bar_table, cocktail_table, date_table
from utils.data_extractor import APIExtractor, CSVExtractor

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
config_path = "config.yaml"
config = yaml.safe_load(open("config.yaml"))

db_config = config["DATABASE"]
csv_config = config["CSV"]
api_config = config["API"]

In [3]:
from utils.utility import trainsaction_schema, bar_stock_schema

In [12]:
bar_stock_param = csv_config["bar_stock"]
drink_param = api_config["cocktail"]
glass_param = api_config["glass"]
bar_param = csv_config["bar_stock"]

In [14]:
glass_df = extract_and_validate(parameters=glass_param, extract_func=APIExtractor)
glass_list = glass_df["glass"].tolist()
cocktail_df = get_cocktail_by_glass(parameters=drink_param, glass_list=glass_list, extract_func=APIExtractor)
stock_df = extract_and_validate(parameters=bar_stock_param, extract_func=CSVExtractor, schema=bar_stock_schema)

In [84]:
for x in transaction_df.drink.unique():
    if x not in cocktail_df.drink.unique():
        print(x)

Valencia Cocktail
Orgasm
Sidecar
Zimadori Zinger
Thai Coffee
Sweet Tooth
Winter Rita
Porto Flip
Royal Gin Fizz
Vodka And Tonic
Tuxedo Cocktail
Paradise
Snowball
Turf Cocktail
Scooter
Vodka Martini
Zorbatini
White Lady
Victor
Waikiki Beachcomber
Yoghurt Cooler
Texas Rattlesnake
Russian Spring Punch
Sea Breeze
Winter Paloma
Yellow Bird
Thai Iced Coffee
Quentin
Ziemes Martini Apfelsaft
Passion Fruit Martini
Queen Bee
Vermouth Cassis

In [39]:
c = cocktail_df[['drink']].drop_duplicates().sort_values(by=['drink'])
d =transaction_df[['drink']].drop_duplicates().sort_values(by=['drink'])

In [86]:
c[c.drink=="Valencia Cocktail"] , d[d.drink=="Valencia Cocktail"]

(Empty DataFrame
 Columns: [drink]
 Index: [],
                drink
 5  Valencia Cocktail)

In [82]:
f = pd.DataFrame()
f["c"] = c[i:i+20].reset_index(drop=True)
f["d"] = d[j:j+20].reset_index(drop=True) 
f

                     c                d
0          Bee'S Knees          Bellini
1         Belgian Blue       Bible Belt
2              Bellini          Big Red
3      Bellini Martini            Bijou
4     Bermuda Highball      Bloody Mary
5         Berry Deadly       Bob Marley
6   Between The Sheets        Bora Bora
7           Bible Belt      Boston Sour
8              Big Red           Boxcar
9                Bijou          Bramble
10         Black & Tan        Broadside
11     Black And Brown       Bubble Gum
12  Black Forest Shake       Caipirinha
13       Black Russian     Caipirissima
14          Blackthorn     Campari Beer
15    Bleeding Surgeon      Casa Blanca
16       Blind Russian           Casino
17        Bloody Maria    Casino Royale
18         Bloody Mary     Chicago Fizz
19        Bloody Punch  Chocolate Drink

In [4]:
from sqlalchemy import create_engine, MetaData, Table,

In [15]:
bar_insert = text(
    """
    MERGE INTO bars T
    USING 
        (SELECT DISTINCT bar 
        FROM {temp_table}) S
    ON T.bar = S.bar
    WHEN NOT MATCHED THEN
        INSERT (bar) 
        VALUES (S.bar);
    """
    )

In [16]:
print(bar_insert.params(temp_table="bar_temp_table").__str__())

    MERGE INTO bars T
    USING
        (SELECT DISTINCT bar
        FROM {temp_table}) S
    ON T.bar = S.bar
    WHEN NOT MATCHED THEN
        INSERT (bar)
        VALUES (S.bar);

In [ ]:
transaction_df = pd.DataFrame()
for param in csv_config["transactions"]:
    tmp = extract_and_validate(parameters=param, extract_func=CSVExtractor, schema=trainsaction_schema)
    tmp["location"] = param["name"]
    transaction_df = pd.concat([transaction_df, tmp], axis=0, ignore_index=True)

In [4]:
from utils.utility import trainsaction_schema, bar_stock_schema

In [5]:
import os
import yaml
import pandas as pd
import logging
from sqlalchemy import create_engine
# from utils.utility import custom_logger
from utils.utility import get_cocktail_by_glass, extract_and_validate, generate_date_dim
from sql import glass_insert, cocktail_insert, stock_insert, transaction_insert, bar_insert
from sql import bar_table, glass_table, cocktail_table, stock_table, transaction_table, date_table
from utils.utility import trainsaction_schema, bar_stock_schema
from utils.data_extractor import APIExtractor, CSVExtractor

# initialize the custom logger
# logger = custom_logger(level="INFO", filename="data_pipeline.log")
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

def load_config(config_path):
    with open(config_path, "r") as file:
        return yaml.safe_load(file)

def create_db_connection(config):
    db_user = os.environ["DB_USER"]
    db_password = os.environ["DB_PASSWORD"]
    db_host = os.environ["DB_HOST"]
    db_port = os.environ["DB_PORT"]
    db_name = config["database"]
    return create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

def create_tables(conn):
    logger.info("Creating tables")
    conn.execute(bar_table)
    conn.execute(glass_table)
    conn.execute(cocktail_table)
    conn.execute(stock_table)
    conn.execute(date_table)
    conn.execute(transaction_table)
    logger.info("Tables creation completed")

def load_to_stage(df, con, table_name):
    if not df.empty:
        logger.info(f"Loading data into {table_name}")
        df.to_sql(name=table_name, con=con, if_exists="replace", index=False)
        logger.info(f"Loading data into {table_name} completed")    

def load_to_report(query, conn):
    logger.info(f"Loading data into {query}")
    conn.execute(query)
    logger.info(f"Loading data into {query} completed")

def load_data_to_staging(db_config, api_config, csv_config, conn):
    logger.info("Running load_data_to staging")
    
    # extract glass data from API
    glass_param = api_config["glass"]
    glass_table = db_config["glass_table_stage"]
    glass_df = extract_and_validate(parameters=glass_param, extract_func=APIExtractor)
    load_to_stage(glass_df, conn, glass_table)
    
    # cocktail data from API
    drink_param = api_config["cocktail"]
    drink_table = db_config["cocktail_table_stage"]
    glass_list = glass_df["glass"].unique().tolist()
    cocktail_df = get_cocktail_by_glass(parameters=drink_param, glass_list=glass_list, extract_func=APIExtractor)
    load_to_stage(cocktail_df, conn, drink_table)
    
    # bar stock data from csv
    bar_stock_param = csv_config["bar_stock"]
    stock_table = db_config["stock_table_stage"]
    stock_df = extract_and_validate(parameters=bar_stock_param, extract_func=CSVExtractor, schema=bar_stock_schema)
    load_to_stage(stock_df, conn, stock_table)
    
    # extract transaction data from csv validate and load into staging table
    transaction_table = db_config["transaction_table_stage"]
    transaction_df = pd.DataFrame()
    for param in csv_config["transactions"]:
        tmp = extract_and_validate(parameters=param, extract_func=CSVExtractor, schema=trainsaction_schema)
        tmp["location"] = param["name"]
        transaction_df = pd.concat([transaction_df, tmp], axis=0, ignore_index=True)
    load_to_stage(transaction_df, conn, transaction_table)

    # this will be a one time process as the date dimension table will be static
    if db_config["initial_load"]:
        date_table = db_config["date_table"]
        date_df = generate_date_dim(start_date="2020-01-01", end_date="2030-12-31", freq="H")
        load_to_stage(date_df, conn, date_table)

def update_report_tables_from_staging(db_config, conn):
    logger.info("Updating report tables from staging")
    # update date bar dimension
    bar_sql = bar_insert.format(temp_table=db_config["stock_table_stage"])
    conn.execute(bar_sql)

    # update glasses table
    glass_temp_table = db_config["glass_table_stage"]
    load_to_report(glass_insert.format(temp_table=glass_temp_table), conn)
    
    # update cocktail table
    cocktail_temp_table = db_config["cocktail_table_stage"]
    load_to_report(cocktail_insert.format(temp_table=cocktail_temp_table), conn)

    # update stock table
    stock_temp_table = db_config["stock_table_stage"]
    load_to_report(stock_insert.format(temp_table=stock_temp_table), conn)
    
    # update transaction table
    transaction_temp_table = db_config["transaction_table_stage"]
    load_to_report(transaction_insert.format(temp_table=transaction_temp_table), conn)
    
    logger.info("Report tables update completed")
    
config = load_config("config.yaml")
csv_config = config["CSV"]
api_config = config["API"]
db_config = config["DATABASE"]
engine = create_db_connection(db_config)
    
# def main():
#     logger.info("ETL process started")
#     config = load_config("config.yaml")
#     csv_config = config["CSV"]
#     api_config = config["API"]
#     db_config = config["DATABASE"]
#     engine = create_db_connection(db_config)
#     conn = engine.connect()
#     if db_config["initial_load"]:
#         create_tables(conn)
#     load_data_to_staging(db_config, api_config, csv_config, conn)
#     update_report_tables_from_staging(db_config, conn)
#     conn.close()
#     logger.info("ETL process completed")

# if __name__ == "__main__":
#     main()

In [281]:
bar_data_insert = """INSERT INTO bars (name) VALUES (:1);"""

glass_data_insert = """
INSERT INTO glasses (name)
VALUES (?);
"""

In [221]:
session.query(Glass).delete()
session.commit()

for i in glass_df.itertuples(index=False):
    tmp = Glass(**i._asdict())
    session.add(tmp)

In [131]:
drink_df.head()

            glass                                drink
0  Highball glass  57 Chevy with a White License Plate
1  Highball glass                            747 Drink
2  Highball glass                   A Day at the Beach
3  Highball glass                   A Furlong Too Late
4  Highball glass              A Night In Old Mandalay

In [132]:
glass_df.head()

                 glass
0       Highball glass
1       Cocktail glass
2  Old-fashioned glass
3        Whiskey Glass
4        Collins glass

In [207]:
from sqlalchemy import Column, Integer, String, ForeignKey, DateTime,Sequence
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Bar(Base):
    __tablename__ = 'bars'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    UniqueConstraint('name')

class BarStock(Base):
    __tablename__ = 'bar_stock'
    id = Column(Integer, primary_key=True)
    bar_id = Column(Integer, ForeignKey('bars.id'))
    glass_id = Column(Integer, ForeignKey('glasses.id'))
    stock = Column(Integer)
    
class Transaction(Base):
    __tablename__ = 'transactions'
    id = Column(Integer, primary_key=True)
    drink_id = Column(Integer, ForeignKey('cocktail.id'))
    bar_id = Column(Integer, ForeignKey('bars.id'))
    date = Column(DateTime, nullable=False)
    amount = Column(Integer)
    
class Glass(Base):
    __tablename__ = 'glasses'
    id = Column(Integer, primary_key=True, autoincrement=True, nullable=False)
    glass = Column(String)
    UniqueConstraint('glass')
    Sequence("seq",start=1001, increment=1)

class Cocktail(Base):
    __tablename__ = 'cocktail'
    id = Column(Integer, primary_key=True)
    glass_id = Column(Integer, ForeignKey('glasses.id'))
    cocktail = Column(String, nullable=False)
    UniqueConstraint('cocktail', 'glass_id')

In [ ]:
transaction_df = pd.DataFrame()
for param in csv_config["transactions"]:
    tmp = extract_and_validate(parameters=param, extract_func=CSVExtractor, schema=trainsaction_schema)
    tmp["location"] = param["name"]
    transaction_df = pd.concat([transaction_df, tmp], axis=0, ignore_index=True)

In [6]:
glass_param = api_config["glass"]
glass_df = extract_and_validate(parameters=glass_param, extract_func=APIExtractor)

In [15]:
config = yaml.safe_load(open('config.yaml'))
csv_transactions = config['CSV']['transactions']
csv_bars = config['CSV']['bar']
api_config = config['API']

In [24]:
pd.read_csv(**csv_bars["pandas_kwargs"])[["bar"]].drop_duplicates()

        bar
0  budapest
1    london
2  new york

In [ ]:
DATABASE = "qs_warehouse"

In [ ]:
class ExtractData:
    def __init__(self):
        pass
    
class TransformData:
    def __init__(self):
        pass
        
    def transform_data(self):
        pass

class LoadData:
    def __init__(self):
        pass

In [31]:
import os
from sqlalchemy.orm import sessionmaker
from utils.custom import custom_logger
from sqlalchemy import create_engine, UniqueConstraint, ForeignKey
from sqlalchemy import Column, Integer, String, DateTime, DECIMAL
from sqlalchemy.ext.declarative import declarative_base

loggger = custom_logger()

Base = declarative_base()

/var/folders/98/116rntps01j3zcbq56ks9h3r0000gn/T/ipykernel_925/89025984.py:10: MovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [34]:
engine = create_engine("postgresql://hardey:root@localhost:5432/test2")

In [35]:
Base.metadata.create_all(engine)

In [32]:
class Transaction(Base):
    __tablename__ = "fact_transactions"
    id = Column(Integer, primary_key=True)
    drink_id = Column(Integer, ForeignKey("cocktails.id"), nullable=False)
    cocktail_id = Column(Integer, ForeignKey("bars.id"), nullable=False)
    date = Column(DateTime, nullable=False)
    amount = Column(DECIMAL(2), nullable=False)

In [5]:

# transaction_df.to_sql(name=transaction_table, con=engine, if_exists="append", index=False)

# generate date dimension table with a grain of 1 hour
# this will be a one time process as the date dimension table will be static
# date_table = db_config["date_table"]
# date_df = generate_date_dim(start_date="2020-01-01", end_date="2020-12-31", freq="H")
# date_df.to_sql(name=date_table, con=engine, if_exists="append", index=False)

In [31]:
from sqlalchemy import create_engine

initial load

In [32]:
import os
import logging
import yaml
import pandas as pd
from sqlalchemy import create_engine
from utils.utility import custom_logger
from utils.utility import get_cocktail_by_glass, extract_and_validate, generate_date_dim
from sql import glass_insert, cocktail_insert, stock_insert, transaction_insert, bar_insert
from utils.utility import trainsaction_schema, bar_stock_schema
from utils.data_extractor import APIExtractor, CSVExtractor

# initialize the custom logger
logger = custom_logger(level="INFO", filename="data_pipeline.log")

def load_config(config_path):
    with open(config_path, "r") as file:
        return yaml.safe_load(file)

def create_db_connection(config):
    db_user = os.environ["DB_USER"]
    db_password = os.environ["DB_PASSWORD"]
    db_host = os.environ["DB_HOST"]
    db_port = os.environ["DB_PORT"]
    db_name = config["database"]
    return create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

def load_to_stage(df, con, table_name):
    if not df.empty:
        logger.info(f"Loading data into {table_name}")
        df.to_sql(name=table_name, con=con, if_exists="replace", index=False)
        logger.info(f"Loading data into {table_name} completed")    

def load_to_report(query, conn):
    logger.info(f"Loading data into {query}")
    conn.execute(query)
    logger.info(f"Loading data into {query} completed")

def extract_transform(db_config, api_config, csv_config, conn):
    logger.info("Running load_data_to staging")
    
    # extract glass data from API
    glass_param = api_config["glass"]
    glass_table = db_config["glass_table_stage"]
    glass_df = extract_and_validate(parameters=glass_param, extract_func=APIExtractor)
    load_to_stage(glass_df, conn, glass_table)
    
    # cocktail data from API
    drink_param = api_config["cocktail"]
    drink_table = db_config["cocktail_table_stage"]
    glass_list = glass_df["glass"].unique().tolist()
    cocktail_df = get_cocktail_by_glass(parameters=drink_param, glass_list=glass_list, extract_func=APIExtractor)
    load_to_stage(cocktail_df, conn, drink_table)
    
    # bar stock data from csv
    bar_stock_param = csv_config["bar_stock"]
    stock_table = db_config["stock_table_stage"]
    stock_df = extract_and_validate(parameters=bar_stock_param, extract_func=CSVExtractor, schema=bar_stock_schema)
    load_to_stage(stock_df, conn, stock_table)
    
    # extract transaction data from csv validate and load into staging table
    transaction_table = db_config["transaction_table_stage"]
    transaction_df = pd.DataFrame()
    for param in csv_config["transactions"]:
        tmp = extract_and_validate(parameters=param, extract_func=CSVExtractor, schema=trainsaction_schema)
        tmp["location"] = param["name"]
        transaction_df = pd.concat([transaction_df, tmp], axis=0, ignore_index=True)
    load_to_stage(transaction_df, conn, transaction_table)

    # this will be a one time process as the date dimension table will be static
    if db_config["initial_load"]:
        date_table = db_config["date_table"]
        date_df = generate_date_dim(start_date="2020-01-01", end_date="2030-12-31", freq="H")
        load_to_stage(date_df, conn, date_table)

def load(db_config, conn):
    logger.info("Updating report tables from staging")
    
    # update bars table
    bar_sql = bar_insert.format(temp_table=db_config["stock_table_stage"])
    conn.execute(bar_sql)

    # update glasses table
    glass_temp_table = db_config["glass_table_stage"]
    load_to_report(glass_insert.format(temp_table=glass_temp_table), conn)
    
    # update cocktails table
    cocktail_temp_table = db_config["cocktail_table_stage"]
    load_to_report(cocktail_insert.format(temp_table=cocktail_temp_table), conn)

    # update stock table
    stock_temp_table = db_config["stock_table_stage"]
    load_to_report(stock_insert.format(temp_table=stock_temp_table), conn)
    
    # update transaction table
    transaction_temp_table = db_config["transaction_table_stage"]
    load_to_report(transaction_insert.format(temp_table=transaction_temp_table), conn)
    
    logger.info("Report tables update completed")
    

def main():
    logger.info("ETL process started")
    config = load_config("config.yaml")
    csv_config = config["CSV"]
    api_config = config["API"]
    db_config = config["DATABASE"]
    engine = create_db_connection(db_config)
    conn = engine.connect()
    extract_transform(db_config, api_config, csv_config, conn)
    load(db_config, conn)
    conn.close()
    logger.info("ETL process completed")

if __name__ == "__main__":
    main()

utility

In [ ]:
import copy
import logging
import pandas as pd
import pandera as pa
from typing import List, Dict, Callable, Optional



# Schema validation for transaction and bar data
bar_stock_schema = pa.DataFrameSchema(
    {
    "glass_type": pa.Column(str,nullable=False),
    "stock": pa.Column(int, checks=pa.Check.gt(-1), nullable=False), # check there is no negative stock
    "bar": pa.Column(str, nullable=False),
    },
)

trainsaction_schema = pa.DataFrameSchema(
    {
    "time": pa.Column("datetime64[ns]", nullable=False),
    "drink": pa.Column(str, nullable=False),
    "amount": pa.Column(float, checks=pa.Check.gt(0), nullable=False), # check all sales amount is greater than 0
    },
)

def custom_logger(level: str = "INFO", filename: str = "data_pipeline.log"):
    """
    This function returns a custom logger object.
    
    Returns
    -------
    logger: logging.Logger
        Logger object.
    """
    logger = logging.getLogger(__name__)
    formatter = logging.Formatter('%(asctime)s:%(name)s:%(levelname)s:%(message)s')
    stream_handler = logging.StreamHandler()
    stream_handler.setLevel(level)
    logger.addHandler(stream_handler)
    # file_handler = logging.FileHandler(filename)
    # file_handler.setLevel(level)
    # file_handler.setFormatter(formatter)
    # logger.addHandler(file_handler)
    return logger


def generate_date_dim(start_date:str, end_date:str, freq:str ="H"):
    """ generate date attribute for the given range and returns it as a DataFrame.
    
    parameters
    ----------
    start_date : str
        Start date in "YYYY-MM-DD" format.
        
    end_date : str
        End date in "YYYY-MM-DD" format.
        
    freq : str
        Frequency of date intervals (default is "H" for hourly).
        
    Returns 
    -------
    df: pd.DataFrame
        DataFrame containing date-related columns.
    """
    df = pd.DataFrame({"date": pd.date_range(start=start_date, end=end_date,freq=freq)})
    df['date_id'] = df.date.dt.strftime('%Y-%m-%dT%H:%M:%S')
    df['calender_day'] = df.date.dt.day
    df['hour'] = df.date.dt.hour
    df['week_number'] = df.date.dt.isocalendar().week
    df['month'] = df.date.dt.strftime('%B')
    df['quarter'] = df.date.dt.quarter
    df['year'] = df.date.dt.year
    df['day_name'] = df.date.dt.strftime('%A')
    df['date'] = df.date.dt.date
    return df

def get_cocktail_by_glass(parameters: Dict, glass_list: List[str], extract_func: Callable) -> pd.DataFrame:
    """
    get list of cocktails based on the glass type from the API
    
    parameters
    ----------
    parameters : Dict
        This is the parameters for the APIExtractor class constructor.
        
    glass_list : List[str]
        List of glass types.
        
    extract_func : Callable
        This is the APIExtractor class.
        
    Returns
    -------
    df: pd.DataFrame
        DataFrame containing cocktails by glass type.
    """
    df = pd.DataFrame(columns=["glass", "drink"])
    for glass in glass_list:
        current_param = copy.deepcopy(parameters)
        current_param["request_obj"]["url"] = current_param["request_obj"]["url"].format(glass=glass)
        temp = extract_func(**current_param).fetch_data()
        temp["glass"] = glass
        df = pd.concat([df, temp], axis=0)
    return df


def extract_and_validate(parameters: Dict, extract_func: Callable, schema: Optional[pa.DataFrameSchema] = None) -> pd.DataFrame:
    """
    Extracts the data specification in the parameters Dict using the 
    extract_func and Validates the data with the schema.
    
    parameters
    ----------
    parameters : Dict
        This is the Parameters for the extract_func.

    extract_func : Callable
        This is the extract function which can be a class of  of (CSVExtractor| APIExtractor).
        
    schema : pa.DataFrameSchema
        This is the pandera DataFrameSchema object.
    
    Returns
    -------
    pd.DataFrame
        DataFrame containing extracted and validated data.
        
    """
    logger = custom_logger(level="INFO", filename="data_pipeline.log")
    try :
        df = extract_func(**parameters).fetch_data()
        if schema is None:
            return df
        validated_df = schema.validate(df, lazy=True)
        return validated_df
    except pa.errors.SchemaErrors as e:
        error_df = e.failure_cases
        errors = list(zip(error_df.column, error_df.check))
        logger.error(f"Schema validation failed for columns {errors} in {parameters['name']} file", exc_info=True)
        raise e

data extractor

In [18]:
import requests
import pandas as pd
from utils.utility import custom_logger
from abc import ABC, abstractmethod
from typing import List, Dict, Optional, Any as AnyType


logger = custom_logger(level="INFO", filename="data_pipeline.log")

class BaseExtractor(ABC):
    """
    This class defines the common interface for all data extraction methods.
    """
    @abstractmethod
    def fetch_data(self, **kwargs):
        pass
    
class CSVExtractor(BaseExtractor):
    """
    Extract data from a CSV file with the specified parameters.
    
    parameters
    ----------
    name : str
        Description for the data source.
        
    pandas_kwargs : Dict[AnyType,AnyType]
        Parameters passed to pandas.read_csv function.
        
    columns_mapping : Optional[Dict[AnyType,AnyType]]
        Key, Value pairs of columns that should be renamed.
        
    capitalize_columns : Optional[List[str]]
        List of columns that should be capitalized.
        
    drop_columns : Optional[List[AnyType]] 
        List of columns that should be dropped from the dataframe.
    """
    def __init__(
        self, name: str, 
        pandas_kwargs: Dict[AnyType,AnyType], 
        capitalize_columns: Optional[List[str]] = None,
        columns_mapping: Optional[Dict[AnyType,AnyType]]= None, 
        drop_columns: Optional[List[AnyType]]= None
        ) -> None:
        self.name = name
        self.pandas_kwargs = pandas_kwargs
        self.capitalize_columns= capitalize_columns
        self.columns_mapping = columns_mapping
        self.drop_columns = drop_columns

    def fetch_data(self) -> Optional[pd.DataFrame]:
        """
        This method reads data from a CSV file using the configurations 
        passed to the class constructor and returns it as a DataFrame.
        
        Returns
        -------
        df: pd.DataFrame
            DataFrame containing extracted data.
        """
        try:
            logger.info(f"Getting {self.name} data from {self.pandas_kwargs['filepath_or_buffer']}")
            df = pd.read_csv(**self.pandas_kwargs)
            if self.drop_columns:
                df.drop(columns=self.drop_columns, inplace=True)
            if self.columns_mapping:
                df.rename(columns=self.columns_mapping, inplace=True)
            if self.capitalize_columns: # capitalize all words in the specified columns
                df[self.capitalize_columns] = df[self.capitalize_columns].map(str.title)
            df.drop_duplicates(inplace=True) # remove duplicates
            logger.info(f"Finished getting {self.name} data from {self.pandas_kwargs['filepath_or_buffer']}")
            return df
        except Exception as e:
            logger.error(f"Error getting {self.name} data with the specified configuration", exc_info=True)
            raise e

class APIExtractor(BaseExtractor):
    """
    Extract data from a Web API with the specified parameters.
    
    parameters
    ----------
    name : str
        Description for the data source.
        
    request_obj : Dict[AnyType,AnyType]
        Parameters passed to the requests.get function.
        
    data_field : str
        The key for the data field in the API response.
        
    capitalize_columns : Optional[List[str]]
        List of columns that should be capitalized.     

    columns_mapping : Optional[Dict[AnyType,AnyType]]
        Key, Value pairs of columns that should be renamed.
        
    drop_columns : Optional[List[AnyType]] 
        List of columns that should be dropped from the dataframe.
    """
    
    def __init__(
        self, 
        name: str,
        request_obj: Dict[AnyType,AnyType], 
        data_field: str, 
        capitalize_columns: Optional[List[str]] = None,
        columns_mapping: Optional[Dict[AnyType,AnyType]]=None,
        drop_columns: Optional[List[AnyType]]=None
        ):
        self.name = name
        self.request_obj = request_obj
        self.data_field = data_field
        self.capitalize_columns = capitalize_columns
        self.columns_mapping = columns_mapping
        self.drop_columns = drop_columns
        
    def fetch_data(self) -> Optional[pd.DataFrame]:
        """
        This method reads data from an API using the configurations 
        passed to the class constructor and returns it as a DataFrame.
        
        Returns
        -------
        df: pd.DataFrame
            DataFrame containing extracted data.
        """
        logger.info(f"Getting {self.name} data from {self.request_obj['url']}")
        try:
            resp = requests.get(**self.request_obj)
            resp = resp.json()[self.data_field]   
            df = pd.DataFrame(resp)
            if self.drop_columns:
                df.drop(columns=self.drop_columns, inplace=True)
            if self.columns_mapping:
                df.rename(columns=self.columns_mapping, inplace=True)  
            df.drop_duplicates(inplace=True) # remove duplicates
            if self.capitalize_columns: # capitalize all words in the specified columns
                df[self.capitalize_columns] = df[self.capitalize_columns].map(str.title)
            logger.info(f"Finished getting {self.name} data from {self.request_obj['url']}")
            return df
        except Exception as e:
            logger.error(f"Error getting {self.name} data with the specified configuration", exc_info=True)
            raise e

sql

In [ ]:
import os
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, UniqueConstraint, ForeignKey
from sqlalchemy import Column, Integer, String, DateTime, DECIMAL
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Bar(Base):
    __tablename__ = 'bars'
    id = Column(Integer, primary_key=True)
    bar = Column(String, nullable=False)
    UniqueConstraint('bar')

class Glass(Base):
    __tablename__ = 'glasses'
    id = Column(Integer, primary_key=True)
    glass = Column(String, nullable=False)
    UniqueConstraint('glass')
    
class Cocktail(Base):
    __tablename__ = 'cocktails'
    id = Column(Integer, primary_key=True)
    glass_id = Column(Integer, ForeignKey('glasses.id'), nullable=False)
    drink = Column(String, nullable=False)
    UniqueConstraint('drink')
    
        
class BarStock(Base):
    __tablename__ = 'bar_stock'
    id = Column(Integer, primary_key=True)
    bar_id = Column(Integer, ForeignKey('bars.id'), nullable=False)
    glass_id = Column(Integer, ForeignKey('glasses.id'), nullable=False)
    stock = Column(Integer)
    
class Transaction(Base):
    __tablename__ = 'transactions'
    id = Column(Integer, primary_key=True)
    drink_id = Column(Integer, ForeignKey('cocktails.id'), nullable=False)
    cocktail_id = Column(Integer, ForeignKey('bars.id'), nullable=False)
    date = Column(DateTime, nullable=False)
    amount = Column(DECIMAL(2), nullable=False)
    

class Date(Base):
    __tablename__ = 'dim_date'
    date_id = Column(String, primary_key=True, nullable=False)
    date = Column(DateTime, nullable=False)
    day_name = Column(String, nullable=False)
    calendar_day = Column(Integer, nullable=False)
    week_number = Column(Integer, nullable=False)
    hour = Column(Integer, nullable=False)
    year = Column(Integer, nullable=False)
    quarter = Column(Integer, nullable=False)
    month = Column(Integer, nullable=False)
    hour = Column(Integer, nullable=False)

bar_insert = """
MERGE INTO bars T
USING 
    (SELECT DISTINCT bar 
    FROM {temp_table}) S
ON T.bar = S.bar
WHEN NOT MATCHED THEN
	INSERT (bar) 
    VALUES (S.bar);
"""

glass_insert = """
MERGE INTO glasses T
USING {temp_table} S
ON T.glass = S.glass
WHEN NOT MATCHED THEN 
	INSERT (glass) 
    VALUES (S.glass)
"""

cocktail_insert = """
MERGE INTO cocktails T
USING 
    (SELECT g.id AS glass_id , c.drink 
    FROM {temp_table} c
    LEFT JOIN glasses g
    ON c.glass=g.glass
    ) S
ON T.glass_id = S.glass_id AND T.drink = S.drink
WHEN NOT MATCHED THEN 
    INSERT (glass_id, drink) 
    VALUES (S.glass_id, S.drink)
"""

stock_insert = """
MERGE INTO bar_stock T
USING 
    (SELECT b.id AS bar_id, g.id AS glass_id, stock 
    FROM {temp_table} ts
    LEFT JOIN bars b
    ON ts.bar=b.bar
    LEFT JOIN glasses g
    ON ts.glass_type=g.glass
    ) S
ON T.bar_id = S.bar_id AND T.glass_id = S.glass_id
WHEN NOT MATCHED THEN 
    INSERT (bar_id, glass_id, stock) 
    VALUES (S.bar_id, S.glass_id, S.stock)
"""
    
transaction_insert = """
INSERT INTO fact_transactions (bar_id, cocktail_id, amount, date)
SELECT b.id AS bar_id, c.id AS cocktail_id, amount, tx.time
    FROM {temp_table} tx
    INNER JOIN bars b ON tx.location=b.bar
    INNER JOIN cocktails c ON tx.drink=c.cocktail
"""

if __name__=='__main__':
    db_user = os.environ["DB_USER"]
    db_password = os.environ["DB_PASSWORD"]
    db_host = os.environ["DB_HOST"]
    db_port = os.environ["DB_PORT"]
    db_name = os.environ["DB_NAME"]
    
    engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")
    Base.metadata.create_all(engine, checkfirst=True)
    Session = sessionmaker(bind=engine)
    session = Session()
    session.commit()
    session.close()

In [ ]:
export DB_USER="hardey"
export DB_PASSWORD="root"
export DB_HOST="localhost"
export DB_PORT="5432"
e

In [ ]:
DimGlass
-
GlassID PK int
Name varchar(200) 

DimBar
-------
BarID PK int
Name varchar(200) 

FactTransactions
----
TransactionID PK 
BarID FK >- DimBar.BarID
CockTailID FK >- DimCockTail.CockTailID
Amount 
Date


DimCockTail
------------
CockTailID PK int
Name varchar(200) 
Amount


DimDate
----------
DateID PK int