In [ ]:
from datetime import datetime
from sqlalchemy import create_engine

In [6]:
from src.utils import get_drinks_by_glass, extract_validate, generate_date_dim
from src.utils import trainsaction_schema, bar_schema
from schema.parameters import glasses_params,drink_params, bar_params
from schema.tables import transaction_table, glass_table, bar_table, cocktail_table, date_table
from schema.parameters import budapest_transaction_params, ny_transaction_params, london_transaction_params
from src.utils import APIExtractor, CSVExtractor

In [ ]:
DATABASE = "qs_warehouse"

In [ ]:
class ExtractData:
    def __init__(self):
        pass
    
class TransformData:
    def __init__(self):
        pass
        
    def transform_data(self):
        pass

class LoadData:
    def __init__(self):
        pass

In [5]:
ny_df = extract_validate(extract_func=CSVExtractor, schema=trainsaction_schema, parameters=ny_transaction_params) 
budapest_df = extract_validate(extract_func=CSVExtractor, schema=trainsaction_schema, parameters=budapest_transaction_params) 
london_df = extract_validate(extract_func=CSVExtractor, schema=trainsaction_schema, parameters=london_transaction_params)
# bar_df = extract_validate(extract_func=CSVExtractor, schema=bar_schema, parameters=bar_params)

min_year = min(ny_df.time.min(), budapest_df.time.min(), london_df.time.min()).strftime('%Y')
max_year = str(int(min_year) + 3)
start = min_year + "-01-01"
end = max_year + "-12-31"

date_df = generate_date_dim(start=start, end=end, freq="H")

glass_df = APIExtractor(**glasses_params).fetch_data()
glass_list = glass_df.glass.unique()
cocktail_df = get_drinks_by_glass(parameters=drink_params, glass_list=glass_list, extract_func=APIExtractor)

In [ ]:
# import yaml
# config = yaml.safe_load(open("test.yaml"))
# conn = psycopg2.connect(database="****", user="****", password="****", host="****", port="****")
# conn.set_session(autocommit=True)
# cur = conn.cursor()
# engine = create_engine('postgresql://user:pass@localhost/db', echo=True)
# cur.execute(f"DROP DATABASE IF EXISTS {DB_NAME}")
# cur.execute(f"CREATE DATABASE {DB_NAME} WITH ENCODING 'utf8' TEMPLATE template0")

In [ ]:
DimGlass
-
GlassID PK int
Name varchar(200) 

DimBar
-------
BarID PK int
Name varchar(200) 

FactTransactions
----
TransactionID PK 
BarID FK >- DimBar.BarID
CockTailID FK >- DimCockTail.CockTailID
Amount 
Date


DimCockTail
------------
CockTailID PK int
Name varchar(200) 
Amount


DimDate
----------
DateID PK int